.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card {
  background-color: #f3f7f7;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

.cardhead {
  background-color: #f3f7f7;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px;
  text-align: center;
  height: 100px;
}

.separador {
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #040b13;
  font-weight: bold;
}

.footer p {
  margin: 0;
  line-height: 1.5;
}
